.charactersList {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    @media (min-width: 768px) {
        width: 30rem;
    }
}
.characterListItem {
    position: relative;
    height: 2rem;
    padding: 1rem;
    margin: 0;
    width: 100%;
    p {
        margin: 0;
    }
    &:hover {
        cursor: pointer;
    }
}

.sidebarCharThumbnail {
    object-fit: contain
}